master/src/main/java/org/commonvox/hbase_column_manager/doc-files/HBaseSchemaArchive.xsd.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="hBaseSchemaArchive" type="hBaseSchemaArchive"/>

  <xs:element name="hBaseSchemaEntity" type="schemaEntity"/>

  <xs:complexType name="hBaseSchemaArchive">
    <xs:sequence>
      <xs:element ref="hBaseSchemaEntity" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="schemaEntity">
    <xs:sequence>
      <xs:element name="values">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="xs:string"/>
                  <xs:element name="value" minOccurs="0" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="configurations">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="xs:string"/>
                  <xs:element name="value" minOccurs="0" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="children" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="hBaseSchemaEntity" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="schemaEntityType" type="schemaEntityType"/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:simpleType name="schemaEntityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NAMESPACE"/>
      <xs:enumeration value="TABLE"/>
      <xs:enumeration value="COLUMN_FAMILY"/>
      <xs:enumeration value="COLUMN_AUDITOR"/>
      <xs:enumeration value="COLUMN_DEFINITION"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

